<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      'api/users/user.json', user: current_user
    ).html_safe %>
  <% end %>
  window.images = {
    caret: "<%= image_path("caret.png") %>",
    caretSelected: "<%= image_path("caret-selected.png") %>",
    artworkMissing: "<%= image_path("artwork-missing.png") %>",
    splash: "<%= image_path("splash.jpg") %>",
  }
</script>

<main id="root"></main>
